@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes</h1>
    <p>The foremost authority for good humour that you will find anywhere on the web.</p>
</div>
